@font-face {
    font-family: "nova";
    src: url(../fonts/ProximaNovaRegular.otf);
}

@font-face {
    font-family: "nova-extrabold";
    src: url(../fonts/ProximaNovaExtrabold.otf);
}

@font-face {
    font-family: "nova-light";
    src: url(../fonts/ProximaNovaLight.otf);
}

@font-face {
    font-family: "ballantines";
    src: url(../fonts/Ballantines-Regular.ttf);
}

@font-face {
    font-family: "ballantines-light";
    src: url(../fonts/ballantines-serial-light-regular.ttf);
}