* {
    margin: 0;
    padding: 0;
    font-family: "nova", Helvetica, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,1);
    scroll-behavior: smooth;
    margin: 0;
    overflow-x: hidden;
}

.landing-page {
    background-color: #EAEAEA;
    background-attachment: scroll;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    background-image: url("../img/croissant-cover.jpg");
}

.landing-page .headline img.logo {
    opacity: 0;
    max-height: 400px;
    width: auto;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-duration: 1s;
}

.landing-page .headline h1 {
    color: #090C0C;
    line-height: 4.5rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 7px;
}

.remain {
    display: inline-block;
}

.remain .r2 {
    opacity: 0;
    display: inline-block;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    animation-duration: 0.5s;
}
.remain .r3 {
    opacity: 0;
    display: inline-block;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    animation-delay: 1.8s;
    animation-duration: 0.5s;
}
.remain .r4 {
    opacity: 0;
    display: inline-block;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    animation-delay: 2.1s;
    animation-duration: 0.5s;
}
.remain .r5 {
    opacity: 0;
    display: inline-block;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    animation-delay: 2.4s;
    animation-duration: 0.5s;
}
.remain .r6 {
    opacity: 0;
    display: inline-block;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    animation-delay: 2.7s;
    animation-duration: 0.5s;
}
.remain .r7 {
    opacity: 0;
    display: inline-block;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    animation-delay: 3s;
    animation-duration: 0.5s;
}
.remain .r8 {
    opacity: 0;
    display: inline-block;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    animation-delay: 3.3s;
    animation-duration: 0.5s;
}

.remain .r9 {
    opacity: 0;
    display: inline-block;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    animation-delay: 3.6s;
    animation-duration: 0.5s;
}
.remain .r10 {
    opacity: 0;
    display: inline-block;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    animation-delay: 3.9s;
    animation-duration: 0.5s;
}

.remain2 {
    display: inline-block;
}

.remain2 .r2 {
    opacity: 0;
    display: inline-block;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    animation-delay: 2.4s;
    animation-duration: 0.5s;
}
.remain2 .r3 {
    opacity: 0;
    display: inline-block;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    animation-delay: 2.7s;
    animation-duration: 0.5s;
}
.remain2 .r4 {
    opacity: 0;
    display: inline-block;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    animation-delay: 3s;
    animation-duration: 0.5s;
}
.remain2 .r5 {
    opacity: 0;
    display: inline-block;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    animation-delay: 3.3s;
    animation-duration: 0.5s;
}
.remain2 .r6 {
    opacity: 0;
    display: inline-block;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    animation-delay: 3.6s;
    animation-duration: 0.5s;
}
.remain2 .r7 {
    opacity: 0;
    display: inline-block;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    animation-delay: 3.9s;
    animation-duration: 0.5s;
}
.remain2 .r8 {
    opacity: 0;
    display: inline-block;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    animation-delay: 4.2s;
    animation-duration: 0.5s;
}

.remain2 .r9 {
    opacity: 0;
    display: inline-block;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    animation-delay: 4.5s;
    animation-duration: 0.5s;
}
.remain2 .r10 {
    opacity: 0;
    display: inline-block;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    animation-delay: 4.8s;
    animation-duration: 0.5s;
}

.first-letter {
    font-size: 5rem;
    display: inline-block;
}

.first {
    opacity: 0;
    animation-name: fadeIn; 
    animation-fill-mode: forwards;
    /* animation-delay: 1s; */
    animation-duration: 3s;
}

.second {
    opacity: 0;
    margin-left: 2rem;
    animation: fadeIn;  
    animation-fill-mode: forwards; 
    animation-delay: 0.5s;
    animation-duration: 3s;
}

.headline {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.order-now {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    top: 80%;
    animation: buttonFade;  
    animation-fill-mode: forwards; 
    animation-delay: 1.8s;
    animation-duration: 0.5s;
}

a.order-button {
    padding: 20px 40px;
    background-color: #69462B;
    text-decoration: none;
    color: white;
    /* border-style: solid; */
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.25s;
}

a.order-button:hover, a.order-button:active {
    background: #204369;
}

img.arrow {
    max-width: 50px;
}

.underline {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    opacity: 0;
    animation: arrowFade;  
    animation-fill-mode: forwards; 
    animation-delay: 2.4s;
    animation-duration: 0.5s;
}

#data {
    position: relative;
    background-color: #EAEAEA;
}

.wrap {
    position: relative;
    max-width: 1500px;
    background-color: white;
    margin: 4rem auto;
    padding-bottom: 0;
}

.inner-wrap {
    padding: 2rem;
}

nav {
    min-width: 100%;
    padding: 0.75rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    background-color: white;
    border-bottom-style: solid;
    border-color: #69462B;
}

nav img {
    max-width: 50px;
    margin-left: 2rem;
}

nav .right-divide {
    position: relative;
}

nav .right-divide .nav-item {
    position: relative;
}

nav .right-divide .nav-item a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "nova-extrabold", helvetica, Arial, sans-serif;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: #090C0C;
    transition: 0.25s;
    font-size: 1.3rem;
    border-style: solid none;
    border-color: white;
}

nav .right-divide .nav-item a:hover, nav .right-divide .nav-item a:active {
    border-bottom-color: #204369;
    color: #69462B;
}

.featured {
    margin: 2rem 0;
    position: relative;
    width: 100%;
    height: auto;
    height: 420px;
    margin-top: 0;
}

.featured .col-left, .featured .col-right {
    width: 75%;
    position: absolute;
    height: 100%;
    background-color: #69462B;
}

.featured .col-left img, .featured .col-right img {
    max-height: 200%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.featured .col-left {
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 95% 0%, 80% 100%, 0% 100%);
    clip-path: polygon(0 0, 95% 0%, 80% 100%, 0% 100%); 
}

.featured .col-right {
    top: 0;
    right: 0;
    height: 100%;
    -webkit-clip-path: polygon(65% 0, 100% 0%, 100% 100%, 50% 100%);
    clip-path: polygon(65% 0, 100% 0%, 100% 100%, 50% 100%);
}

.featured .content-wrap {
    position: absolute;
    top: 12.5%;
    left: 67%;
    right: 5%;
}

.featured .col-right h2 {
    position: relative;
    color: white;
    margin-bottom: 1rem;
    font-family: "ballantines-light", "nova";
    font-size: 2.5rem;
}

.featured .col-right p {
    position: relative;
    color: white;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

.featured-flip {
    margin: 2rem 0;
    position: relative;
    width: 100%;
    height: auto;
    height: 420px;
}

.featured-flip .col-left, .featured-flip .col-right {
    width: 75%;
    position: absolute;
    height: 100%;
}

.featured-flip .col-left img, .featured-flip .col-right img {
    max-height: 200%;
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.featured-flip .col-left {
    top: 0;
    right: 0;
    background-color: white;
    height: 100%;
    -webkit-clip-path: polygon(100% 0, 100% 0%, 100% 100%, 50% 100%);
    clip-path: polygon(5% 0, 100% 0%, 100% 100%, 20% 100%);
}

.featured-flip .col-right {
    top: 0;
    left: 0;
    background-color: #69462B;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 35% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0 0, 35% 0%, 50% 100%, 0% 100%); 
}

.featured-flip .content-wrap {
    position: absolute;
    top: 12.5%;
    left: 5%;
    right: 67%;
}

.featured-flip .col-right h2 {
    position: relative;
    color: white;
    margin-bottom: 1rem;
    font-family: "ballantines-light", "nova";
    font-size: 2.5rem;
}

.featured-flip .col-right p {
    position: relative;
    color: white;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

.menu-section {
    position: relative;
    padding: 2rem 0;
}

.menu-section .col-left img {
    max-height: 400px;
    width: auto;
    margin: auto;
    display: block;
}

.menu-section .col-right {
    padding: 3em;
    position: relative;
}

.menu-section .col-right h2 {
    margin-bottom: 1rem;
}

.menu-section .col-right p {
    line-height: 2rem;
    font-size: 0.9rem;
    color: #090C0C;
}

.menu-section .col-right a.order-button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.order-section {
    position: relative;
    margin: 2rem 0;
}

.order-section .col-right img {
    max-height: 400px;
    width: auto;
    margin: auto;
    display: block;
}

.order-section .col-left {
    padding: 3em;
    position: relative;
}

.order-section .col-left h2 {
    margin-bottom: 1rem;
}

.order-section .col-left p {
    line-height: 2rem;
    font-size: 0.9rem;
    color: #090C0C;
}

.order-section .col-left a.order-button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu {
    position: relative;
    width: 100%;
    padding-bottom: 4rem;
    background-color: #EAEAEA;
    background-image: url("../img/sandwich-img.jpg");
    background-attachment: scroll;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu header {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 150px;
    margin-bottom: 100px;
}

.menu header img {
    position: absolute;
    height: 100%;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
}

.menu header h1 {
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
    font-weight: 100;
    font-size: 2.5rem;
}

.menu .menu-section {
    margin: 0 0rem;
    padding: 4rem 4rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #69462B;
    position: relative;
    overflow: visible;
}

.menu .menu-section.white {
    background-color: white;
}

.menu .menu-section.img {
    background-color: rgba(0,0,0,0);
    width: 100%;
    position: relative;
    height: 300px;
    overflow: visible;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 52.5% 100%, 50% 107.5%, 47.5% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 52.5% 100%, 50% 107.5%, 47.5% 100%, 0% 100%);
}

.menu .menu-section.img img {
    position: absolute;
    width: 200%;
    height: auto;
    top: 0;
    left: 0;
}

#croissant {
    width: 150%;
    transform-origin: 50% 50%;
    transform: rotate(45deg) translate(-25%, -5%);
}

#sandwich {
    width: 100%;
    transform-origin: 50% 50%;
    transform: translateY(-35%);
}

#rollup {
    width: 150%;
    transform-origin: 50% 50%;
    transform: translate(-15%, -35%);
}

#pannini {
    width: 100%;
    transform-origin: 50% 50%;
    transform: translate(0, -35%);
}

#layer1 {
    z-index: 20;
}

#layer2 {
    z-index: 19;
}

#layer3 {
    z-index: 18;
}

#layer4 {
    z-index: 17;
}

#layer5 {
    z-index: 16;
}

#layer6 {
    z-index: 15;
}

#layer7 {
    z-index: 14;
}
#layer8 {
    z-index: 13;
}

#layer9 {
    z-index: 12;
}

#layer10 {
    z-index: 11;
}

#layer11 {
    z-index: 10;
}

#layer12 {
    z-index: 9;
}

#layer13 {
    z-index: 8;
}

#layer14 {
    z-index: 7;
}

#layer15 {
    z-index: 6;
}

#layer16 {
    z-index: 5;
}

.menu-section h2.menu-header {
    font-weight: 200;
    /* padding-left: 4rem; */
    /* background-color: #69462B; */
    padding: 2rem 0;
    font-family: "ballantines";
    color: white;
    font-size: 3rem;
    width: 100%;
    padding-bottom: 1rem;
}

.menu-section.white h2.menu-header {
    color: #090C0C;
    /* background-color: white; */
}

.menu-section h3.desc {
    position: relative;
    color: white;
    font-family: "nova-light";
    font-size: 1.0rem;
    padding-bottom: 2rem;
    letter-spacing: 0.05rem;
    width: 100%;
    line-height: 2rem;
}

.menu-section.white h3.desc {
    color: #090C0C;
}

.menu-section h4 {
    color: white;
    font-family: "nova-extrabold";
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
    width: 100%;
    padding-top: 1rem;
    border-top: solid;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.menu-section.white h4 {
    color: #090c0c;
}

.menu-section ul li {
    color: white;
    list-style: none;
    /* display: inline-block; */
    padding: 1rem 0;
    font-size: 0.9rem;
    margin-left: 1rem;
}

.menu-section.white ul li {
    color: #090c0c;
}

.menu .menu-section ul li:before {
    content: "";
    border-color: transparent white;
    border-style: solid;
    border-width: 0.25em 0 0.25em 0.45em;
    display: block;
    height: 0;
    left: -1em;
    position: relative;
    top: 0.9em;
    width: 0;
}

.menu .menu-section.white ul li:before {
    border-color:   transparent #090C0C;
}

.menu .menu-item {
    width: 100%;
    padding-bottom: 4rem;
    padding-top: 1rem;
}

.connector {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #69462B;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    /* z-index: 9; */
}

.white .connector {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    /* z-index: 9; */
}

.pricing {
    width: 100%;
    border-style: solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-width: thin;
    border-color: #204369;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.pricing h3, .pricing h4 {
    display: inline-block;
}

.pricing h4 {
    float: right;
}

.sect-divide {
    width: 100%;
    height: 30px;
    position: relative;
}

.sect-divide .left-divide, .sect-divide .right-divide {
    width: 55%;
    height: 100%;
    position: absolute;
}

.sect-divide .left-divide {
    left: 0;
    top: 0;
    background-color: #C6B69A;
    -webkit-clip-path: polygon(0 0, 90% 0%, 85% 100%, 0% 100%);
    clip-path: polygon(0 0, 90% 0%, 85% 100%, 0% 100%); 
}

.sect-divide .right-divide {
    right: 0;
    top: 0;
    background-color: #C6B69A;
    -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 5% 100%);
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 5% 100%); 
}

.sect-divide .left-divide.flip {
    -webkit-clip-path: polygon(0 0, 85% 0%, 90% 100%, 0% 100%);
    clip-path: polygon(0 0, 85% 0%, 90% 100%, 0% 100%);
}

.sect-divide .right-divide.flip {
    -webkit-clip-path: polygon(5% 0, 100% 0%, 100% 100%, 10% 100%);
    clip-path: polygon(5% 0, 100% 0%, 100% 100%, 10% 100%); 
}

#about {
    width: 100%;
    position: relative;
}

.about-cont {
    padding: 4rem;
    margin: 4rem 0;
    position: relative;
    width: 100%;
    height: 400px;
}

.about-cont .col-left, .about-cont .col-right {
    width: 75%;
    position: absolute;
    height: 100%;
    background-color: #69462B;
}

.about-cont .col-left {
    top: 0;
    right: 0;
    background-color: white;
    height: 100%;
    -webkit-clip-path: polygon(55% 0, 100% 0%, 100% 100%, 40% 100%);
    clip-path: polygon(65% 0, 100% 0%, 100% 100%, 40% 100%);
}

.about-cont .col-right {
    top: 0;
    left: 0;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 82.5% 0%, 67.5% 100%, 0% 100%);
    clip-path: polygon(0 0, 92.5% 0%, 67.5% 100%, 0% 100%); 
}

.about-cont .col-left img, .about-cont .col-right img {
    /* max-height: 400%; */
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#owner {
    max-height: 150%;
    left: 80%;
}

.about-cont .col-right .about-wrap {
    position: absolute;
    left: 5%;
    right: 30%;
    top: 12.5%;
}

.about-cont .col-right .about-wrap h2 {
    margin-bottom: 1rem;
    color: white;
    font-family: "ballantines-light", "nova";
    font-size: 2.5rem;
}

.about-cont .col-right .about-wrap p {
    margin-bottom: 1rem;
    color: white;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

#contact {
    width: 100%;
    position: relative;
}

.contact-cont {
    margin: 2rem 0;
    position: relative;
    width: 100%;
    height: auto;
    height: 420px;
    margin-top: 2rem;
    margin-bottom: 0;
}

.contact-cont .col-left, .contact-cont .col-right {
    width: 100%;
    position: absolute;
    height: 100%;
}

.contact-cont .col-left img, .contact-cont .col-right img {
    /* max-height: 100%; */
    position: absolute;
    left: 40%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.contact-cont .col-left {
    top: 0;
    left: 0;
    background-color: #69462B;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 95% 0%, 80% 100%, 0% 100%);
    clip-path: polygon(0 0, 95% 0%, 80% 100%, 0% 100%); 
}

.contact-cont .col-right {
    top: 0;
    right: 0;
    background-color: #69462B;
    height: 100%;
    -webkit-clip-path: polygon(65% 0, 100% 0%, 100% 100%, 50% 100%);
    clip-path: polygon(65% 0, 100% 0%, 100% 100%, 80% 100%);
}

.contact-cont .col-right h2 {
    position: relative;
    color: white;
    padding-right: 4rem;
    padding-top: 3rem;
    font-family: "ballantines-light", "nova";
    font-size: 2.5rem;
}

.contact-cont .col-right p {
    color: white;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

.contact-cont .contact-item {
    text-align: right;
    position: relative;
    height: 3rem;
    margin-bottom: 1.5rem;
    margin-right: 4rem;
}

.contact-cont .col-right h2 {
    position: relative;
    float: right;
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;
}

.contact-cont .contact-item h3 {
    color: white;
    float: right;
    width: 100%;
    letter-spacing: 0.1rem;
}

.contact-cont .col-right .contact-item p {
    position: relative;
    float: right;
    color: white;
    left: auto;
    right: auto;
    top: auto;
    float: right;
    width: 100%;
    margin-top: 0.3rem;
    letter-spacing: 0.075rem;
}

footer {
    height: 80px;
    width: 100%;
    background-color: #69462B;
}

footer .left, footer .right {
    height: 100%;
}

.col1-of-4, .col1-of-2 {
    position: relative;
    height: 100%;
}

.col1-of-4 h2, .col1-of-4 p {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
}

.col1-of-4 h2 {
    font-size: 2.5rem;
    font-family: "ballantines", "nova";
    transform: translate(-50%, -50%);
}

.col1-of-4 p {
    font-size: 0.7rem;
    transform: translate(-50%, 0);
}

.col1-of-2 p {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0, -50%);
}

.col1-of-2 a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
}

.col1-of-2 a img {
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;;
    height: 100%;
}

.burger-nav {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(40,40,40, 0.3);
}

.burger-nav .fill-menu {
    position: relative;
    background-color: white;
}

.burger-nav .fill-menu .nav-button {
    background-color: white;
    position: relative;
}

.burger-nav .fill-menu .nav-button a {
    text-decoration: none;
    color: #090C0C;
    font-family: "nova-extrabold", helvetica, Arial, sans-serif;
    letter-spacing: 0.1rem;
    transition: 0.25s;
    font-size: 1.3rem;
    position: relative;
    width: 100%;
    height: 62.5%;
    padding: 1rem;
    padding-top: 1.25rem;
}

.burger-nav .fill-menu .nav-button a:hover, .burger-nav .fill-menu .nav-button a:active {
    color: #204369;
    background-color: rgba(200,200,200, 0.3);
}


/* overrides */
.no-top {
    padding-top: 0;
    margin-top: 0;
}

.no-bottom {
    padding-bottom: 0;
    margin-bottom: 0;
}

.top {
    margin-top: 6rem;
}

.white {
    background-color: white;
}

.menu-section.white ul li.blue {
    color: #204369;
}

.top {
    margin-top: 4rem;
}

.pad {
    margin-top: 4rem;
}


@keyframes fadeIn { 
    from { 
        opacity: 0; 
    } 
    to { 
        opacity: 1; 
    } 
}

@keyframes buttonFade {
    from {
        opacity: 0; 
        top: 80%;
    }
    to {
        opacity: 1;
        top: 75%;
    }
}

@keyframes arrowFade {
    from {
        opacity: 0; 
        bottom: 0;
    }
    to {
        opacity: 1;
        bottom: 5%;
    }
}