@media (max-width: 93.75em) {
    .landing-page .headline img.logo {
        max-width: 300px;
    }
}

@media (max-width: 87.0625em) {
    .about-cont .col-right {
        -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    }

    .about-cont .col-left {
        -webkit-clip-path: polygon(55% 0, 100% 0%, 100% 100%, 40% 100%);
        clip-path: polygon(72.5% 0, 100% 0%, 100% 100%, 47.5% 100%);
    }

    #owner {
        left: 90%;
    }
}

@media (max-width: 82.6875em) {
    .col1-of-4 h2 {
        font-size: 1.75rem;
    }

    .col1-of-4 {
        flex-basis: 28.333%;
    }

    .col1-of-4.title {
        flex-basis: 15%;
    }
}

@media (max-width: 80em) {
    .contact-cont .col-left, .contact-cont .col-right {
        position: relative;
        -webkit-clip-path: polygon(65% 0, 100% 0%, 100% 100%, 50% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
        padding: 0;
    }

    .contact-cont .col-left img, .contact-cont .col-right img {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        transform: translate(0, 0);
    }

    .contact-cont .contact-item {
        text-align: left;
        margin: 0;
        height: auto;
    }

    .contact-cont .col-left {
        height: auto;
        border: none;
        background-color: rgba(0,0,0,0);
    }

    .contact-cont .col-right h2 {
        float: left;
        flex-basis: 100%;
        height: auto;
        padding-top: 0;
    }

    .contact-cont .col-right {
        padding: 2rem 2rem;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-basis: 100%;
        margin-top: -5px;
    }

    .contact-cont .col-right .contact-item {
        flex-basis: 25%;
        padding-left: 1rem;
    }

    .contact-cont .col-right .contact-item.top {
        padding-left: 0;
    }

    .contact-cont {
        height: auto;
    }
}

@media (max-width: 78.9375em) {
    .menu-section .col-left img {
        width: 110%;
        position: absolute;
        top: 50%;
        margin: none;
        transform: translateY(-50%);
    }

    .menu-section {
        height: 450px;
    }

    .menu-section .col-left {
        flex-basis: 40%;
        position: relative;
    }

    .menu-section .col-right {
        flex-basis: 60%;
    }
}

@media (max-width: 78.6875em) {
    .featured .col-right {
        -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 35% 100%);
        clip-path: polygon(50% 0, 100% 0%, 100% 100%, 35% 100%);
    }

    .featured .col-left {
        -webkit-clip-path: polygon(0 0, 80% 0%, 65% 100%, 0% 100%);
        clip-path: polygon(0 0, 80% 0%, 65% 100%, 0% 100%);
    }

    .featured .content-wrap {
        left: 55%;
        right: 10%;
    }
}

@media (max-width: 77.5em) {
    .featured-flip .col-right {
        -webkit-clip-path: polygon(0 0, 50% 0%, 65% 100%, 0% 100%);
        clip-path: polygon(0 0, 50% 0%, 65% 100%, 0% 100%);
    }

    .featured-flip .col-left {
        -webkit-clip-path: polygon(20% 0, 100% 0%, 100% 100%, 35% 100%);
        clip-path: polygon(20% 0, 100% 0%, 100% 100%, 35% 100%);
    }

    .featured-flip .content-wrap {
        left: 10%;
        right: 55%;
    }
}

@media (max-width: 72.75em) {
    .about-cont {
        height: 450px;
    }

    .about-cont .col-right .about-wrap {
        right: 25%;
    }

    #owner {
        left: 100%;
    }
}

@media (max-width: 65.75em) {
    .contact-cont .col-right .contact-item {
        padding-left: 0;
        flex-basis: 50%;
        padding-right: 1rem;
    }

    .contact-cont .col-right .contact-item.top, .contact-cont .col-right .contact-item.pad {
        margin-bottom: 1rem;
    }

    .col1-of-2 a {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 64.4375em) {
    .order-section .col-left {
        padding-bottom: 1rem;
    }

    .order-section .col-left a.order-button {
        bottom: 5%;
    }
}

@media (max-width: 63.6875em) {
    .featured .col-right {
        -webkit-clip-path: polygon(35% 0, 100% 0%, 100% 100%, 15% 100%);
        clip-path: polygon(35% 0, 100% 0%, 100% 100%, 15% 100%);
    }

    .featured .col-left {
        -webkit-clip-path: polygon(0 0, 65% 0%, 45% 100%, 0% 100%);
        clip-path: polygon(0 0, 65% 0%, 45% 100%, 0% 100%);
    }

    .featured .content-wrap {
        left: 42.5%;
    }
}

@media (max-width: 63.1875em) {
    .featured-flip .col-right {
        -webkit-clip-path: polygon(0 0, 65% 0%, 80% 100%, 0% 100%);
        clip-path: polygon(0 0, 65% 0%, 80% 100%, 0% 100%);
    }

    .featured-flip .col-left {
        -webkit-clip-path: polygon(35% 0, 100% 0%, 100% 100%, 50% 100%);
        clip-path: polygon(35% 0, 100% 0%, 100% 100%, 50% 100%);
    }

    .featured-flip .content-wrap {
        right: 40%;
    }

    .featured-flip .col-left img {
        left: 80%;
    }
}

@media (max-width: 60.4375em) {
    .menu-section .col-left {
        flex-basis: 35%;
    }

    .menu-section .col-right {
        flex-basis: 65%;
    }
}

@media (max-width: 58.75em) {
    .about-cont {
        height: 500px;
    }
}

@media (max-width: 56.3125em) {
    .menu-section .col-left img {
        width: 65%;
        position: relative;
        margin: auto;
    }

    .menu-section .col-left {
        flex-basis: 100%;
    }

    .menu-section .col-right {
        flex-basis: 100%;
        padding: 0;
        height: 320px;
    }

    .menu-section {
        height: auto;
    }

    .menu-section .col-right a.order-button {
        bottom: 0;
    }

    .menu-section .col-right p {
        position: relative;
        display: inline-block;
        padding: 0 3rem 3rem 3rem;
    }

    .menu-section .col-right h2 {
        padding: 3rem 3rem 0 3rem;
    }

    .about-cont .col-left, .about-cont .col-right {
        width: 100%;
        position: relative;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        height: 350px;
    }

    .about-cont {
        position: relative;
        height: auto;
        width: 100%;
        padding: 0;
    }

    #about {
        height: auto;
    }

    .about-cont .col-right .about-wrap {
        right: 5%;
    }

    #owner {
        left: 0;
        right: 0;
        top: auto;
        bottom: 0%;
        transform: translateX(0);
        width: 100%;
    }
}

@media (max-width: 56.25em) {
    nav .left-divide {
        flex-basis: 30%;
    }

    nav .right-divide {
        flex-basis: 70%;
    }
}

@media (max-width: 55.4375em) {
    .order-section .col-right {
        flex-basis: 100%;
    }

    .order-section .col-left {
        flex-basis: 100%;
        height: 325px;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .order-section .col-right img {
        max-width: 200px;
    }

    .order-section .col-left a.order-button {
        bottom: 0;
    }

    .menu-section .col-right p {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .menu-section .col-right h2 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 48.6875em) {
    .about-cont .col-left, .about-cont .col-right {
        display: block;
        height: 100%;
        /* position: relative; */
    }

    .about-cont .col-right .about-wrap {
        padding: 3rem;
        position: relative;
        right: 0;
        left: 0;
        top: 0;
    }

    #owner {
        bottom: 10%;
        position: relative;
    }
}

@media (max-width: 47.9375em) {
    .featured .col-right {
        -webkit-clip-path: polygon(25% 0, 100% 0%, 100% 100%, 5% 100%);
        clip-path: polygon(25% 0, 100% 0%, 100% 100%, 5% 100%);
    }

    .featured .col-left {
        -webkit-clip-path: polygon(0 0, 55% 0%, 35% 100%, 0% 100%);
        clip-path: polygon(0 0, 55% 0%, 35% 100%, 0% 100%);
    }

    .featured .content-wrap {
        left: 32.5%;
    }

    footer {
        height: 250px;
        position: relative;
    }

    footer .left {
        flex-basis: 100%;
        height: 200px;
    }

    footer .right {
        flex-basis: 100%;
        height: 50px;
    }

    .col1-of-4 {
        flex-basis: 100%;
        height: 50px;
    }

    .col1-of-4.title {
        flex-basis: 100%;
        height: 50px;
    }
}

@media (max-width: 46.6875em) {
    .menu-section .col-right {
        height: 370px;
    }
}

@media (max-width: 46.3125em) {
    .headline {
        left: 50%;
        top: 35%;
    }

    .order-now {
        top: 30%;
        /* transform: translateX(0); */
    }

    .landing-page .headline img.logo {
        max-width: 250px;
    }
}

@media (max-width: 45.1875em) {
    .featured-flip .col-right {
        width: 85%;
        -webkit-clip-path: polygon(0 0, 70% 0%, 82.5% 100%, 0% 100%);
        clip-path: polygon(0 0, 70% 0%, 82.5% 100%, 0% 100%);
    }

    .featured-flip .col-left {
        -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 64.5% 100%);
        clip-path: polygon(50% 0, 100% 0%, 100% 100%, 64.5% 100%);
    }

    .featured-flip .col-left img {
        left: 95%;
    }
}

@media (max-width: 40.3125em) {
    .featured .col-right {
        position: relative;
        width: 100%;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }

    .featured .col-left {
        position: relative;
        width: 100%;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
        height: 200px;
    }

    .featured .content-wrap {
        position: relative;
        left: auto;
        height: auto;
        right: auto;
        padding: 3rem;
    }

    .featured {
        height: auto;
    }

    .featured .col-left img {
        max-width: 100%;
        left: 0;
        right: 0;
        top: 0;
        transform: translate(0, 0);
    }

    .featured-flip .col-right {
        position: relative;
        width: 100%;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }

    .featured-flip .col-left {
        position: relative;
        width: 100%;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
        height: 200px;
    }

    .featured-flip .content-wrap {
        position: relative;
        left: auto;
        height: auto;
        right: auto;
        padding: 3rem;
    }

    .featured-flip {
        height: auto;
    }

    .featured-flip .col-left img {
        max-width: 100%;
        left: 0;
        right: 0;
        top: 0;
        transform: translate(0, -20%);
    }

    .inner-wrap {
        padding: 0;
    }

    .contact-cont .col-right .contact-item.top, .contact-cont .col-right .contact-item.pad {
        margin: 0.5rem 0;
    }

    .contact-cont .col-right .contact-item {
        flex-basis: 100%;
        padding-right: 0;
        margin: 0.5rem 0;
        text-align: center;
    }

    .contact-cont .col-right h2 {
        text-align: center;
        padding-right: 0;
    }
}
@media (max-width: 34.375em) {
    .order-section .col-left {
        height: auto;
        margin-bottom: 3rem;
    }

    .order-section .col-left a.order-button {
        position: relative;
        transform: translateY(0);
        transform: translateX(-50%);
        left: 30%;
        top: 10%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }

    .order-section .col-left p {
        margin-bottom: 2rem;
    }
}

@media (max-width: 26.5625em) {
    .about-cont .col-right .about-wrap {
        padding: 2rem;
    }

    .featured-flip .content-wrap {
        padding: 2rem;
    }

    .featured .content-wrap {
        padding: 2rem;
    }
}

@media (max-width: 25em) {
    .menu-section .col-right a.order-button {
        position: relative;
        left: 22.5%;
        transform: translateX(0%);
        transform: translateY(0);
        margin-left: auto;
        margin-right: auto;
    }
    .menu-section .col-right {
        height: auto;
        margin-bottom: 3rem;
    }
}

@media (max-width: 23.5em) {
    a.order-button {
        padding: 1rem 1.5rem;
        font-size: 0.8rem;
    }
}